@import "tailwindcss";

@theme {
    --color-accent: #85aa9f;
    --color-dark: #121417;
    --color-light: #fcfcfc;
    --color-white: #f8f8f8;
    --font-sans: var(--font-fixel);
}


@layer base {
    body {
        @apply font-sans bg-white text-dark font-medium;
    }
}
